## Analisis de consumo de netflix

In [28]:
import io
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("NetflixViewingHistory.csv")

In [4]:
df

                                                Title     Date
0          A Love So Beautiful: Season 1: From, Honey  3/24/22
1   Stranger Things: Stranger Things 3: Chapter Ei...  3/24/22
2   Stranger Things: Stranger Things 3: Chapter On...  3/24/22
3   Stranger Things: Stranger Things 2: Chapter Ni...  3/24/22
4   Stranger Things: Stranger Things 2: Chapter On...  3/24/22
..                                                ...      ...
72                 Sam & Cat: Season 1B: #SuperPsycho   2/6/22
73          Sam & Cat: Season 1B: #FirstClassProblems   2/6/22
74              Sam & Cat: Season 1B: #DroneBabyDrone   2/6/22
75              Hotel Transylvania 3: Summer Vacation   2/6/22
76            All of Us Are Dead: Season 1: Episode 1   2/6/22

[77 rows x 2 columns]

# 1 . Analisis exploratorio y limpieza de datos

In [10]:
df.info

<bound method DataFrame.info of                                                 Title     Date
0          A Love So Beautiful: Season 1: From, Honey  3/24/22
1   Stranger Things: Stranger Things 3: Chapter Ei...  3/24/22
2   Stranger Things: Stranger Things 3: Chapter On...  3/24/22
3   Stranger Things: Stranger Things 2: Chapter Ni...  3/24/22
4   Stranger Things: Stranger Things 2: Chapter On...  3/24/22
..                                                ...      ...
72                 Sam & Cat: Season 1B: #SuperPsycho   2/6/22
73          Sam & Cat: Season 1B: #FirstClassProblems   2/6/22
74              Sam & Cat: Season 1B: #DroneBabyDrone   2/6/22
75              Hotel Transylvania 3: Summer Vacation   2/6/22
76            All of Us Are Dead: Season 1: Episode 1   2/6/22

[77 rows x 2 columns]>

In [6]:
#Revisamos si hay datos nulos
df.isnull().sum()

Title    0
Date     0
dtype: int64

In [7]:
df.shape

(77, 2)

In [11]:
df.sample(10)
#Existe información separada por 2 puntos

                                                Title     Date
29         A Love So Beautiful: Season 1: Begin Again   3/1/22
58                      Nanny McPhee and the Big Bang  2/14/22
39          A Love So Beautiful: Season 1: First Kiss  2/25/22
66  Miraculous: Tales of Ladybug & Cat Noir: Seaso...   2/7/22
34   A Love So Beautiful: Season 1: It's Been A While  2/26/22
51          Yo soy Betty, la fea: Season 1: Episode 1  2/19/22
3   Stranger Things: Stranger Things 2: Chapter Ni...  3/24/22
76            All of Us Are Dead: Season 1: Episode 1   2/6/22
50                      Sam & Cat: Season 1B: #PeezyB  2/19/22
17  Stranger Things: Stranger Things 2: Chapter Si...  3/18/22

In [13]:
separacion_lista = df.Title.str.split(pat=':',expand=False).to_frame()

In [17]:
separacion_lista.head(10)

                                               Title
0     [A Love So Beautiful,  Season 1,  From, Honey]
1  [Stranger Things,  Stranger Things 3,  Chapter...
2  [Stranger Things,  Stranger Things 3,  Chapter...
3  [Stranger Things,  Stranger Things 2,  Chapter...
4  [Stranger Things,  Stranger Things 2,  Chapter...
5  [Stranger Things,  Chapter Eight,  The Upside ...
6   [Beyond Stranger Things,  Beyond 2,  Mind Blown]
7  [Stranger Things,  Chapter One,  The Vanishing...
8  [Beyond Stranger Things,  Beyond 2,  Mad for Max]
9  [Stranger Things,  Stranger Things 3,  Chapter...

In [19]:
separacion_lista['num_partes']=separacion_lista.Title.apply(len)
separacion_lista

                                                Title  num_partes
0      [A Love So Beautiful,  Season 1,  From, Honey]           3
1   [Stranger Things,  Stranger Things 3,  Chapter...           4
2   [Stranger Things,  Stranger Things 3,  Chapter...           4
3   [Stranger Things,  Stranger Things 2,  Chapter...           4
4   [Stranger Things,  Stranger Things 2,  Chapter...           4
..                                                ...         ...
72             [Sam & Cat,  Season 1B,  #SuperPsycho]           3
73      [Sam & Cat,  Season 1B,  #FirstClassProblems]           3
74          [Sam & Cat,  Season 1B,  #DroneBabyDrone]           3
75           [Hotel Transylvania 3,  Summer Vacation]           2
76        [All of Us Are Dead,  Season 1,  Episode 1]           3

[77 rows x 2 columns]

In [20]:
#valores unicos de num_partes
separacion_lista.num_partes.value_counts()

3    51
4    22
1     2
2     2
Name: num_partes, dtype: int64

Vamos a analizar los títulos por número de partes a ver si hay algún patrón

In [26]:
separacion_lista.loc[separacion_lista.num_partes==2].head(10)

                                        Title  num_partes
67  [The SpongeBob Movie,  Sponge on the Run]           2
75   [Hotel Transylvania 3,  Summer Vacation]           2

In [27]:
separacion_lista.loc[separacion_lista.num_partes==3].head(10)

                                                Title  num_partes
0      [A Love So Beautiful,  Season 1,  From, Honey]           3
5   [Stranger Things,  Chapter Eight,  The Upside ...           3
6    [Beyond Stranger Things,  Beyond 2,  Mind Blown]           3
7   [Stranger Things,  Chapter One,  The Vanishing...           3
8   [Beyond Stranger Things,  Beyond 2,  Mad for Max]           3
22    [Stranger Things,  Chapter Seven,  The Bathtub]           3
23      [Stranger Things,  Chapter Six,  The Monster]           3
24  [Stranger Things,  Chapter Five,  The Flea and...           3
25        [Stranger Things,  Chapter Four,  The Body]           3
26   [Stranger Things,  Chapter Three,  Holly, Jolly]           3

# 2. Creación de Variables

feature extraction

In [56]:
separacion_lista['tipo']=np.where(separacion_lista.num_partes<2,'peliculas','serie')
separacion_lista.sample(20)

                                                Title  num_partes   tipo
17  [Stranger Things,  Stranger Things 2,  Chapter...           4  serie
65  [Miraculous,  Tales of Ladybug & Cat Noir,  Se...           4  serie
53  [A Love So Beautiful,  Season 1,  Happy Birthday]           3  serie
61     [A Love So Beautiful,  Season 1,  Pick Me Up!]           3  serie
34  [A Love So Beautiful,  Season 1,  It's Been A ...           3  serie
47                  [Sam & Cat,  Season 1B,  #YayDay]           3  serie
29     [A Love So Beautiful,  Season 1,  Begin Again]           3  serie
11  [Stranger Things,  Stranger Things 3,  Chapter...           4  serie
69                [Sam & Cat,  Season 1B,  #KnockOut]           3  serie
9   [Stranger Things,  Stranger Things 3,  Chapter...           4  serie
39      [A Love So Beautiful,  Season 1,  First Kiss]           3  serie
26   [Stranger Things,  Chapter Three,  Holly, Jolly]           3  serie
4   [Stranger Things,  Stranger Things 2,  Chapter...           4  serie
62  [A Love So Beautiful,  Season 1,  At the Karaoke]           3  serie
12  [Stranger Things,  Stranger Things 3,  Chapter...           4  serie
27  [Stranger Things,  Chapter Two,  The Weirdo on...           3  serie
15  [Stranger Things,  Stranger Things 2,  Chapter...           4  serie
23      [Stranger Things,  Chapter Six,  The Monster]           3  serie
52  [A Love So Beautiful,  Season 1,  We Need to T...           3  serie
68        [Sam & Cat,  Season 1B,  #WeStealARockstar]           3  serie

In [57]:
#Dado que tenemos las mismas filas y columnas solo concatenamos
df2 = pd.concat([df,separacion_lista['tipo']],axis=1)
df2.sample(10)

                                                Title     Date   tipo
27  Stranger Things: Chapter Two: The Weirdo on Ma...   3/1/22  serie
11  Stranger Things: Stranger Things 3: Chapter Fi...  3/23/22  serie
65  Miraculous: Tales of Ladybug & Cat Noir: Seaso...   2/7/22  serie
23          Stranger Things: Chapter Six: The Monster  3/16/22  serie
25            Stranger Things: Chapter Four: The Body   3/2/22  serie
74              Sam & Cat: Season 1B: #DroneBabyDrone   2/6/22  serie
44  A Love So Beautiful: Season 1: Declaration of ...  2/23/22  serie
19  Stranger Things: Stranger Things 2: Chapter Fo...  3/18/22  serie
40  A Love So Beautiful: Season 1: Collect Our Dreams  2/25/22  serie
61         A Love So Beautiful: Season 1: Pick Me Up!  2/13/22  serie

In [58]:
separacion_cols = df.Title.str.split(pat=":",expand=True)
separacion_cols

,0,1,2,3
0,A Love So Beautiful,Season 1,"From, Honey",None
1,Stranger Things,Stranger Things 3,Chapter Eight,The Battle of Starcourt
2,Stranger Things,Stranger Things 3,Chapter One,"Suzie, Do You Copy?"
3,Stranger Things,Stranger Things 2,Chapter Nine,The Gate
4,Stranger Things,Stranger Things 2,Chapter One,MADMAX
...,...,...,...,...
72,Sam & Cat,Season 1B,#SuperPsycho,None
73,Sam & Cat,Season 1B,#FirstClassProblems,None
74,Sam & Cat,Season 1B,#DroneBabyDrone,None
75,Hotel Transylvania 3,Summer Vacation,None,None
76,All of Us Are Dead,Season 1,Episode 1,None

In [59]:
#para poner nombres a columnas 
separacion_cols.columns=["nivel1","nivel2","nivel3","nivel4"]
separacion_cols

,nivel1,nivel2,nivel3,nivel4
0,A Love So Beautiful,Season 1,"From, Honey",None
1,Stranger Things,Stranger Things 3,Chapter Eight,The Battle of Starcourt
2,Stranger Things,Stranger Things 3,Chapter One,"Suzie, Do You Copy?"
3,Stranger Things,Stranger Things 2,Chapter Nine,The Gate
4,Stranger Things,Stranger Things 2,Chapter One,MADMAX
...,...,...,...,...
72,Sam & Cat,Season 1B,#SuperPsycho,None
73,Sam & Cat,Season 1B,#FirstClassProblems,None
74,Sam & Cat,Season 1B,#DroneBabyDrone,None
75,Hotel Transylvania 3,Summer Vacation,None,None
76,All of Us Are Dead,Season 1,Episode 1,None

In [61]:
#Volvemos a concatenar
df2 = pd.concat([df2,separacion_cols],axis=1)
df2

,Title,Date,tipo,nivel1,nivel2,nivel3,nivel4
0,"A Love So Beautiful: Season 1: From, Honey",3/24/22,serie,A Love So Beautiful,Season 1,"From, Honey",None
1,Stranger Things: Stranger Things 3: Chapter Ei...,3/24/22,serie,Stranger Things,Stranger Things 3,Chapter Eight,The Battle of Starcourt
2,Stranger Things: Stranger Things 3: Chapter On...,3/24/22,serie,Stranger Things,Stranger Things 3,Chapter One,"Suzie, Do You Copy?"
3,Stranger Things: Stranger Things 2: Chapter Ni...,3/24/22,serie,Stranger Things,Stranger Things 2,Chapter Nine,The Gate
4,Stranger Things: Stranger Things 2: Chapter On...,3/24/22,serie,Stranger Things,Stranger Things 2,Chapter One,MADMAX
...,...,...,...,...,...,...,...
72,Sam & Cat: Season 1B: #SuperPsycho,2/6/22,serie,Sam & Cat,Season 1B,#SuperPsycho,None
73,Sam & Cat: Season 1B: #FirstClassProblems,2/6/22,serie,Sam & Cat,Season 1B,#FirstClassProblems,None
74,Sam & Cat: Season 1B: #DroneBabyDrone,2/6/22,serie,Sam & Cat,Season 1B,#DroneBabyDrone,None
75,Hotel Transylvania 3: Summer Vacation,2/6/22,serie,Hotel Transylvania 3,Summer Vacation,None,None
76,All of Us Are Dead: Season 1: Episode 1,2/6/22,serie,All of Us Are Dead,Season 1,Episode 1,None

# 3. Variables derivadas de la fecha

In [67]:
df2['fecha']=pd.to_datetime(df2.Date)
#cambio la columna date de tipo object a columna(fecha) de tipo datetime64
df2

,Title,Date,tipo,nivel1,nivel2,nivel3,nivel4,fecha
0,"A Love So Beautiful: Season 1: From, Honey",3/24/22,serie,A Love So Beautiful,Season 1,"From, Honey",None,2022-03-24
1,Stranger Things: Stranger Things 3: Chapter Ei...,3/24/22,serie,Stranger Things,Stranger Things 3,Chapter Eight,The Battle of Starcourt,2022-03-24
2,Stranger Things: Stranger Things 3: Chapter On...,3/24/22,serie,Stranger Things,Stranger Things 3,Chapter One,"Suzie, Do You Copy?",2022-03-24
3,Stranger Things: Stranger Things 2: Chapter Ni...,3/24/22,serie,Stranger Things,Stranger Things 2,Chapter Nine,The Gate,2022-03-24
4,Stranger Things: Stranger Things 2: Chapter On...,3/24/22,serie,Stranger Things,Stranger Things 2,Chapter One,MADMAX,2022-03-24
...,...,...,...,...,...,...,...,...
72,Sam & Cat: Season 1B: #SuperPsycho,2/6/22,serie,Sam & Cat,Season 1B,#SuperPsycho,None,2022-02-06
73,Sam & Cat: Season 1B: #FirstClassProblems,2/6/22,serie,Sam & Cat,Season 1B,#FirstClassProblems,None,2022-02-06
74,Sam & Cat: Season 1B: #DroneBabyDrone,2/6/22,serie,Sam & Cat,Season 1B,#DroneBabyDrone,None,2022-02-06
75,Hotel Transylvania 3: Summer Vacation,2/6/22,serie,Hotel Transylvania 3,Summer Vacation,None,None,2022-02-06
76,All of Us Are Dead: Season 1: Episode 1,2/6/22,serie,All of Us Are Dead,Season 1,Episode 1,None,2022-02-06

In [70]:
df2.drop(columns='Date',inplace=True)
df2

,Title,tipo,nivel1,nivel2,nivel3,nivel4,fecha
0,"A Love So Beautiful: Season 1: From, Honey",serie,A Love So Beautiful,Season 1,"From, Honey",None,2022-03-24
1,Stranger Things: Stranger Things 3: Chapter Ei...,serie,Stranger Things,Stranger Things 3,Chapter Eight,The Battle of Starcourt,2022-03-24
2,Stranger Things: Stranger Things 3: Chapter On...,serie,Stranger Things,Stranger Things 3,Chapter One,"Suzie, Do You Copy?",2022-03-24
3,Stranger Things: Stranger Things 2: Chapter Ni...,serie,Stranger Things,Stranger Things 2,Chapter Nine,The Gate,2022-03-24
4,Stranger Things: Stranger Things 2: Chapter On...,serie,Stranger Things,Stranger Things 2,Chapter One,MADMAX,2022-03-24
...,...,...,...,...,...,...,...
72,Sam & Cat: Season 1B: #SuperPsycho,serie,Sam & Cat,Season 1B,#SuperPsycho,None,2022-02-06
73,Sam & Cat: Season 1B: #FirstClassProblems,serie,Sam & Cat,Season 1B,#FirstClassProblems,None,2022-02-06
74,Sam & Cat: Season 1B: #DroneBabyDrone,serie,Sam & Cat,Season 1B,#DroneBabyDrone,None,2022-02-06
75,Hotel Transylvania 3: Summer Vacation,serie,Hotel Transylvania 3,Summer Vacation,None,None,2022-02-06
76,All of Us Are Dead: Season 1: Episode 1,serie,All of Us Are Dead,Season 1,Episode 1,None,2022-02-06

Creamos funcion para **extraer** los componentes (**datos**)

In [74]:
#cambiamos el indice por la fecha
df2.set_index('fecha', inplace=True)

In [76]:
def atributos_fechas(data):
    data['año'] = data.index.year  #separa por año mes dia y agrega en df2
    data['mes'] = data.index.month_name()
    data['dia_mes'] = data.index.day
    data['dia_semana'] = data.index.day_name()
    return(data)

In [78]:
atributos_fechas(df2)
#podriamos conocer que dias consumimos mas la información

,Title,tipo,nivel1,nivel2,nivel3,nivel4,año,mes,dia_mes,dia_semana
fecha,,,,,,,,,,
2022-03-24,"A Love So Beautiful: Season 1: From, Honey",serie,A Love So Beautiful,Season 1,"From, Honey",None,2022,March,24,Thursday
2022-03-24,Stranger Things: Stranger Things 3: Chapter Ei...,serie,Stranger Things,Stranger Things 3,Chapter Eight,The Battle of Starcourt,2022,March,24,Thursday
2022-03-24,Stranger Things: Stranger Things 3: Chapter On...,serie,Stranger Things,Stranger Things 3,Chapter One,"Suzie, Do You Copy?",2022,March,24,Thursday
2022-03-24,Stranger Things: Stranger Things 2: Chapter Ni...,serie,Stranger Things,Stranger Things 2,Chapter Nine,The Gate,2022,March,24,Thursday
2022-03-24,Stranger Things: Stranger Things 2: Chapter On...,serie,Stranger Things,Stranger Things 2,Chapter One,MADMAX,2022,March,24,Thursday
...,...,...,...,...,...,...,...,...,...,...
2022-02-06,Sam & Cat: Season 1B: #SuperPsycho,serie,Sam & Cat,Season 1B,#SuperPsycho,None,2022,February,6,Sunday
2022-02-06,Sam & Cat: Season 1B: #FirstClassProblems,serie,Sam & Cat,Season 1B,#FirstClassProblems,None,2022,February,6,Sunday
2022-02-06,Sam & Cat: Season 1B: #DroneBabyDrone,serie,Sam & Cat,Season 1B,#DroneBabyDrone,None,2022,February,6,Sunday
2022-02-06,Hotel Transylvania 3: Summer Vacation,serie,Hotel Transylvania 3,Summer Vacation,None,None,2022,February,6,Sunday
2022-02-06,All of Us Are Dead: Season 1: Episode 1,serie,All of Us Are Dead,Season 1,Episode 1,None,2022,February,6,Sunday

# 4. Analisis de Datos

¿Hace cuanto tiempo hemos contratado netflix?

In [86]:
from datetime import date

In [97]:
hoy = pd.Timestamp(date.today()) #1 de abril
primer_dia = df2.index.min()
tiempo = hoy - primer_dia  #obtenemos los dias que hemos usado netflix
print(f'Elen ha usado netflix {tiempo.days} dias.\n')
print(f'El primer día que lo uso fue {primer_dia}')

Elen ha usado netflix 55 dias.

El primer día que lo uso fue 2022-02-06 00:00:00

¿Cuál es mi costo promedio en  Netflix?

In [99]:
coste_mensual = 100
gasto = tiempo.days/30*coste_mensual
print(f'Mauricio ha gastado en netflix ${gasto} pesos\n')

Mauricio ha gastado en netflix $183.33333333333331 pesos

¿Cuánto tiempo de su vida le ha dedicado a Netflix

In [103]:
#media de series y media de pelicuas

media_min_serie = 45 #minutos
media_min_pelis = 100 #minutos
consumo = df2.loc[df2.año>2021].groupby('tipo').Title.count()
consumo

tipo
peliculas     2
serie        75
Name: Title, dtype: int64

In [119]:
minutos_pelis_año = consumo['peliculas']*media_min_pelis/3
minutos_pelis_año

66.66666666666667

In [120]:
minutos_serie_año = consumo['serie']*media_min_serie/3
minutos_serie_año

1125.0

In [121]:
#convetimos minutos a dias
dias_pelis_año = minutos_pelis_año/60/24
dias_pelis_año

0.0462962962962963

In [122]:
#convetimos minutos a dias
dias_series_año = minutos_serie_año/60/24
dias_series_año

0.78125

In [125]:
print(f'Elen dedica al año {round(dias_series_año)} dias de su vida a ver series y {round(dias_pelis_año)} dias en pelicualas' )

Elen dedica al año 1 dias de su vida a ver series y 0 dias en pelicualas